.item-unidade {
    display: inline-flex;
    margin-right: 10px;
    background-color: #5e9d01;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}

.accordion-unidades .q-list {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.accordion-unidades .q-list .q-hoverable {
    border-radius: 10px;
    font-size: 40px;
}

.accordion-unidades .q-list .q-card {
    background-color: #f8f9fa;
}

.item-titulo-unidade div.no-wrap {
    font-weight: bold;
}

.botao-excluir {
    font-size: 16px;
    border-radius: 50%;
    margin-left: 6px;
    color: #3a6b00;
    cursor: pointer;
}