$primary-colors: (
1: #3C1A66,
  // 1: #569f00,
  2: #278428,
  3: #396406,
  4: #dff1c9,
);

$secondary-colors: (
  1: #EF8027,
  2: #3C1A66,
  3: #2f80ed,
  4: #da1a00,
  5: #d9001b,
);

$tertiary-colors: (
  1: #f8d104,
  2: #ffef98,
  3: #decb64,
  4: #c0a30c,
);

$grey-colors: (
  1: #ffffff,
  2: #f8f9fa,
  3: #f1f3f5,
  4: #e9ecef,
  5: #dee2e6,
  6: #ced4da,
  7: #adb5bd,
  8: #868e96,
  9: #495057,
  10: #343a40,
  11: #212529,
  12: #1d1d1d,
  13: #000000,
  14: #45403e,
  15: #d6d6d6
);

$menu-colors: (
  1: #313E3C,
  2: #293533,
  3: #569F00,
  4: #EF8027,
);
