.codigo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 125px;
  font-weight: bold;
  position: relative;
}

.shadow-codigo {
  margin-top: -2%
}

.guidance {
  color: #818181;
  font-size: 18px;
}

.erro {
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.btnVoltar {
  background-color: #569f00 !important;
  margin-top: 30px
}